-i https://pypi.org/simple/
argcomplete==1.9.3
aws-xray-sdk==2.4.2
boto3==1.9.253
botocore==1.12.253
certifi==2019.9.11
cfn-flip==1.2.1
chardet==3.0.4
click==7.0
docutils==0.15.2
durationpy==0.5
flask==1.0.2
future==0.16.0
hjson==3.0.1
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.3
jmespath==0.9.3
jsonpickle==1.2
kappa==0.6.0
lambda-packages==0.20.0
markupsafe==1.1.1
placebo==0.9.0
python-dateutil==2.6.1 ; python_version >= '2.7'
python-slugify==1.2.4
pyyaml==5.1.2
requests==2.21.0
s3transfer==0.2.1
six==1.12.0
toml==0.10.0
tqdm==4.19.1
troposphere==2.5.2
unidecode==1.1.1
urllib3==1.24.3 ; python_version >= '3.4'
werkzeug==0.15.3
wheel==0.33.6
wrapt==1.11.2
wsgi-request-logger==0.4.6
zappa==0.48.2
